{% extends 'base.html' %}

{% block content %}

<div class="wrapper container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            {% if db == 'BD1.db'%}
            <li><a href="/db_ucheb">Учебная литература</a></li>
            <li class="active"><a href="/db_hudoz">Художественная литература</a></li>
            {% else %}
            <li class="active"><a href="/db_ucheb">Учебная литература</a></li>
            <li><a href="/db_hudoz">Художественная литература</a></li>
            {% endif %}
        </ul>
    </nav>

    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/index">На главную</a></li>
            <li><a href="/addbook">Добавить книгу</a></li>
            <li class="active"><a href="/deletebook">Удалить книгу</a></li>
            <li><a href="/change">Изменить</a></li>
            <li><a href="/find">Поиск</a></li>
            <li><a href="/giving">Выдача</a></li>
            <li><a href="/all_users">Все 'читатели'</a></li>
        </ul>
    </nav>

    <div class="row">
        <form name="search" action="/delete" method="post" class="form-inline form-search pull-right">
            <div class="input-group">
                <label class="sr-only" for="searchInput1">Номер в списке</label>
                <input class="form-control" id="searchInput1" type="text" name="number" placeholder="Номер в списке">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                </div>
            </div>
        </form>
        <p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>№</th>
                <th>Автор</th>
                <th>Название</th>
                <th>Предмет</th>
                <th>Класс</th>
                <th>Год издания</th>
                <th>Издательство</th>
                <th>Номер издания</th>
                <th>Дата постановки на учет</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Общая сумма</th>
                <th>Накладная</th>
                <th>Дата по накладной</th>
                <th>П/П</th>
                <th>КСУ</th>
                <th>Акт выбытия</th>
                <th>Примечания</th>
                <th>Штрих-код</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {%for message in table %}
            <tr>
                <td><a class="btn btn-primary" style="font-size: 10pt; color: white" href="/dell/{{message[0]}}">Удалить</a></td>
                <th scope="row">{{message[0]}}</th>
                <td>{{message[1]}}</td>
                <td>{{message[2]}}</td>
                <td>{{message[3]}}</td>
                <td>{{message[10]}}</td>
                <td>{{message[5]}}</td>
                <td>{{message[13]}}</td>
                <td>{{message[6]}}</td>
                <td>{{message[4]}}</td>
                <td>{{message[7]}}</td>
                <td>{{message[8]}}</td>
                <td>{{message[14]}}</td>
                <td>{{message[16]}}</td>
                <td>{{message[18]}}</td>
                <td>{{message[12]}}</td>
                <td>{{message[15]}}</td>
                <td>{{message[11]}}</td>
                <td>{{message[9]}}</td>
                <td>{{message[17]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<footer>

</footer>
{% endblock %}