{% extends 'base.html' %}

{% block content %}

<div class="wrapper container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            {% if db == 'BD1.db'%}
            <li><a href="/db_ucheb">Учебная литература</a></li>
            <li class="active"><a href="/db_hudoz">Художественная литература</a></li>
            {% else %}
            <li class="active"><a href="/db_ucheb">Учебная литература</a></li>
            <li><a href="/db_hudoz">Художественная литература</a></li>
            {% endif %}
        </ul>
    </nav>

    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/index">На главную</a></li>
            <li><a href="/addbook">Добавить книгу</a></li>
            <li><a href="/deletebook">Удалить книгу</a></li>
            <li><a href="/change">Изменить</a></li>
            <li><a href="/find">Поиск</a></li>
            <li class="active"><a href="/giving">Выдача</a></li>
            <li><a href="/all_users">Все 'читатели'</a></li>
        </ul>
    </nav>

    <nav>
        <form name="search" action="/new_teacher" method="get" class="form-inline form-search pull-right">
            <button name="teacher" type="submit" value="teacher" class="btn btn-primary"
            style="background-color: rgb(100, 215, 255);  border-color: rgb(100, 215, 255);"><big>Новый преподаватель</big>
            </button>
        </form>
        <form name="search" action="/give_book" method="get" class="form-inline form-search pull-left">
            <button name="teacher" type="submit" value="teacher" class="btn btn-primary"><big>Выдать книгу</big>
            </button>
        </form>

        <br><br><br>
        <form name="search" action="/new_student" method="get" class="form-inline form-search pull-right">
            <button name="teacher" type="submit" value="student" class="btn btn-primary"
            style="background-color: rgb(100, 215, 255); border-color: rgb(100, 215, 255);"><big>Новый ученик</big>
            </button>
        </form>
        <form name="search" action="/take_book" method="get" class="form-inline form-search pull-left">
            <button name="teacher" type="submit" value="student" class="btn btn-primary"><big>Принять книгу</big>
            </button>
        </form>

        <table class="table table-hover">
        <thead>
        <tr>
            <th>№ операции</th>
            <th>Штрих-код книги</th>
            <th>Название книги</th>
            <th>ID человека</th>
            <th>ФИО человека</th>
            <th>Вид операции</th>
            <th>Дата операции</th>
        </tr>
        </thead>
        <tbody>
        {%for message in history %}
        <tr>
            <th scope="row">{{message[0]}}</th>
            <td><a href="/book_page/{{message[1]}}"  style="color: rgb(143, 143, 143)">{{message[1]}}</a></td>
            <td><a href="/book_page/{{message[1]}}"  style="color: rgb(143, 143, 143)">{{message[2]}}</a></td>
            <td><a style="color: grey" href="/person_page/{{message[3]}}">{{message[3]}}</a></td>
            <td><a style="color: grey" href="/person_page/{{message[3]}}">{{message[4]}}</a></td>
            <td>{{message[5]}}</td>
            <td>{{message[6]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </nav>
</div>

{% endblock %}