<!DOCTYPE html>
<html>
<head>
    <title>Библиотека</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='../static/css/styles.css') }}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<p></p>
<div class="wrapper container">
    <h1>Преподаватель</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>
            {{ form.father.label }}<br>
            {{ form.father(class="form-control") }}<br>
            {% for error in form.father.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>
        <div><a style="font-size: 9pt; font-weight: 600; color: rgb(130, 130, 130)">Должность*</a></div>
        <select name="position" style="font-size: 9pt;">
            {% if form.position.data == "" %}
            <option disabled="disabled" selected="selected"></option>
            {% else %}
            <option disabled="disabled"></option>
            {% endif %}
            {% if form.position.data == 'dir' %}
                <option value='dir' selected='selected'>Директор</option>
            {% else %}
                <option value='dir'>Директор</option>
            {% endif %}
            {% if form.position.data == 'zamdir' %}
                <option value='zamdir' selected='selected'>Заместитель директора</option>
            {% else %}
                <option value='zamdir'>Заместитель директора</option>
            {% endif %}
            {% if form.position.data == 'bibl' %}
                <option value='bibl' selected='selected'>Педагог-библиотекарь</option>
            {% else %}
                <option value='bibl'>Педагог-библиотекарь</option>
            {% endif %}
            {% if form.position.data == 'extra' %}
                <option value='extra' selected='selected'>Организатор дополнительного образования</option>
            {% else %}
                <option value='extra'>Организатор дополнительного образования</option>
            {% endif %}
            {% if form.position.data == 'prim' %}
                <option value='prim' selected='selected'>Учитель начальных классов</option>
            {% else %}
                <option value='prim'>Учитель начальных классов</option>
            {% endif %}
            {% if form.position.data == 'vospit' %}
                <option value='vospit' selected='selected'>Воспитатель</option>
            {% else %}
                <option value='vospit'>Воспитатель</option>
            {% endif %}
            {% if form.position.data == 'speech' %}
                <option value='speech' selected='selected'>Логопед</option>
            {% else %}
                <option value='speech'>Логопед</option>
            {% endif %}
            {% if form.position.data == 'psyco' %}
                <option value='psyco' selected='selected'>Педагог-психолог</option>
            {% else %}
                <option value='psyco'>Педагог-психолог</option>
            {% endif %}
            {% if form.position.data == 'izo' %}
                <option value='izo' selected='selected'>Учитель ИЗО</option>
            {% else %}
                <option value='izo'>Учитель ИЗО</option>
            {% endif %}
            {% if form.position.data == 'music' %}
                <option value='music' selected='selected'>Учитель музыки</option>
            {% else %}
                <option value='music'>Учитель музыки</option>
            {% endif %}
            {% if form.position.data == 'mxk' %}
                <option value='mxk' selected='selected'>Учитель МХК</option>
            {% else %}
                <option value='mxk'>Учитель МХК</option>
            {% endif %}
            {% if form.position.data == 'obj' %}
                <option value='obj' selected='selected'>Учитель ОБЖ</option>
            {% else %}
                <option value='obj'>Учитель ОБЖ</option>
            {% endif %}
            {% if form.position.data == 'pe' %}
                <option value='pe' selected='selected'>Учитель физкультуры</option>
            {% else %}
                <option value='pe'>Учитель физкультуры</option>
            {% endif %}
            {% if form.position.data == 'math' %}
                <option value='math' selected='selected'>Учитель математики</option>
            {% else %}
                <option value='math'>Учитель математики</option>
            {% endif %}
            {% if form.position.data == 'inf' %}
                <option value='inf' selected='selected'>Учитель информатики</option>
            {% else %}
                <option value='inf'>Учитель информатики</option>
            {% endif %}
            {% if form.position.data == 'phys' %}
                <option value='phys' selected='selected'>Учитель физики</option>
            {% else %}
                <option value='phys'>Учитель физики</option>
            {% endif %}
            {% if form.position.data == 'ruslit' %}
                <option value='ruslit' selected='selected'>Учитель русского языка и литературы</option>
            {% else %}
                <option value='ruslit'>Учитель русского языка и литературы</option>
            {% endif %}
            {% if form.position.data == 'rus' %}
                <option value='rus' selected='selected'>Учитель русского языка</option>
            {% else %}
                <option value='rus'>Учитель русского языка</option>
            {% endif %}
            {% if form.position.data == 'geogr' %}
                <option value='geogr' selected='selected'>Учитель географии</option>
            {% else %}
                <option value='geogr'>Учитель географии</option>
            {% endif %}
            {% if form.position.data == 'bio' %}
                <option value='bio' selected='selected'>Учитель биологии</option>
            {% else %}
                <option value='bio'>Учитель биологии</option>
            {% endif %}
            {% if form.position.data == 'chem' %}
                <option value='chem' selected='selected'>Учитель химии</option>
            {% else %}
                <option value='chem'>Учитель химии</option>
            {% endif %}
            {% if form.position.data == 'histobch' %}
                <option value='histobch' selected='selected'>Учитель истории и обществознания</option>
            {% else %}
                <option value='histobch'>Учитель истории и обществознания</option>
            {% endif %}
            {% if form.position.data == 'obch' %}
                <option value='obch' selected='selected'>Учитель обществознания</option>
            {% else %}
                <option value='obch'>Учитель обществознания</option>
            {% endif %}
            {% if form.position.data == 'hist' %}
                <option value='hist' selected='selected'>Учитель истории</option>
            {% else %}
                <option value='hist'>Учитель истории</option>
            {% endif %}
            {% if form.position.data == 'eng' %}
                <option value='eng' selected='selected'>Учитель английского языка</option>
            {% else %}
                <option value='eng'>Учитель английского языка</option>
            {% endif %}
            {% if form.position.data == 'french' %}
                <option value='french' selected='selected'>Учитель французского языка</option>
            {% else %}
                <option value='french'>Учитель французского языка</option>
            {% endif %}
            {% if form.position.data == 'latin' %}
                <option value='latin' selected='selected'>Учитель латинского языка</option>
            {% else %}
                <option value='latin'>Учитель латинского языка</option>
            {% endif %}
            {% if form.position.data == 'german' %}
                <option value='german' selected='selected'>Учитель немецкого языка</option>
            {% else %}
                <option value='german'>Учитель немецкого языка</option>
            {% endif %}
            {% if form.position.data == 'other' %}
                <option value='other' selected='selected'>Другое</option>
            {% else %}
                <option value='other'>Другое</option>
            {% endif %}
        </select>
        </p>

        <p>
            {{ form.code.label }}<br>
            {{ form.code(class="form-control") }}<br>
            {% for error in form.code.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>Обязательные поля отмечены звездочкой (*)</div>
        <div><a style="color: rgb(182, 0, 12); font-size: 11pt;">{{message}}</a></div>
    </form>
</div>
</body>
</html>