{% extends 'base.html' %}
{% block content %}
<div class="wrapper container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            {% if db == 'BD1.db'%}
            <li><a href="/db_ucheb">Учебная литература</a></li>
            <li class="active"><a href="/db_hudoz">Художественная литература</a></li>
            {% else %}
            <li class="active"><a href="/db_ucheb">Учебная литература</a></li>
            <li><a href="/db_hudoz">Художественная литература</a></li>
            {% endif %}
        </ul>
    </nav>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/index">На главную</a></li>
            <li><a href="/addbook">Добавить книгу</a></li>
            <li><a href="/deletebook">Удалить книгу</a></li>
            <li><a href="/change">Изменить</a></li>
            <li><a href="/find">Поиск</a></li>
            <li><a href="/giving">Выдача</a></li>
        </ul>
    </nav>

    <h3 style="color: rgb(30,170,200)"><big>Просмотр информации о пользователе</big></h3>
    <h3>ID: {{id}}</h3>
    <h3>{{position}}</h3>
    <h3>ФИО: {{fio}}</h3>
    <h3>Номер пропускной карточки: {{code}}</h3>
    <img src={{img}} alt="здесь должен быть штрих-код пропускной карточки, но он почему-то не загрузился">
    <br>
    {% if position == "Ученик" %}
        <div><a class="btn btn-primary" style="font-size: 12pt" href="/student_change/{{code}}">Редактировать</a></div>
    {% else %}
        <div><a class="btn btn-primary" style="font-size: 12pt" href="/teacher_change/{{code}}">Редактировать</a></div>
    {% endif %}
</div>
{% endblock %}